{% extends "base.html" %}

{% block title %}Product Details - {{ product.Product.name }}{% endblock %}

{% block content %}
    <div class="product-details">
        <h1>{{ product.Product.name }}</h1>
        <p><strong>Price:</strong> Rs. {{ product.Product.price }}</p>
        <p><strong>Availability:</strong> {{ "Available" if product.Product.is_available else "Not Available" }}</p>
        <p><strong>Created By:</strong> {{ product.Product.user.username }}</p>
        <p><strong>Created At:</strong> {{ product.Product.created_at | datetimeformat }}</p>
        <p><strong>Votes:</strong> {{ product.votes }}</p>
    </div>
{% endblock %}
